# Virtual Environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Streamlit cache
.streamlit/secrets.toml